{:deps true
 :dev-http {8000 ["docs" "resources"]}
 :js-options {:js-package-dirs ["node_modules"]}
 :builds {:app
          {:target :browser
           :modules {:main {:init-fn playground.core/init}}
           :output-dir "docs/js/compiled"
           :asset-path "/js/compiled"
           :dev {:compiler-options {:closure-defines {re-frame.trace/trace-enabled? true
                                                      "re_frame.trace.trace_enabled_QMARK_" true
                                                      "day8.re_frame.tracing.trace_enabled_QMARK_"  true}}}
           :devtools {:preloads [devtools.preload
                                 day8.re-frame-10x.preload]
                      :external-config {:devtools/config {:features-to-install    [:formatters :hints]
                                                          :fn-symbol              "F"
                                                          :print-config-overrides true}}}}}}
